		#mynetwork {
			width: 100%;
			height: 400px;
			border: 1px solid lightgray;
		}

		body {
			font-family: Arial
		}

		.tablesmall {
			font-size: 0.5em;
			border-collapse: collapse;
			border-spacing: 0px;
		}

		.tablesmall th,td {
			padding-top: 1px;
			padding-bottom: 1px;
			padding-left: 3px;
			padding-right: 3px;
		}

		.tablesmall tr:nth-child(even) {
			background-color: #DCDCCA;
		}

		.tablesmall tr:nth-child(odd) {
			background-color: #EEEEEB;
		}

		.center {
			margin: 0 auto;
			text-align: center;
		}
		
		.labelbotton {
			appearance: auto;
			text-rendering: auto;
    			color: buttontext;
			text-align: center;
			font-size: 13px;
    			align-items: flex-start;
    			cursor: default;
    			box-sizing: border-box;
    			background-color: buttonface;
			border-radius: 0.2em;
			padding-block: 1px;
			padding-inline: 6px;
			padding-top: 0.2em;
    			border-width: 1px;
    			border-style: outset;
    			border-color: buttonborder;
    			border-image: initial;
		}

		.roundCorner {
			color: white;
			font-size: smaller;
			border-radius: 0.2em;
			background: #888888;
			padding: 0.2em; 
			display: inline-block;
			min-width: 1em;
			margin: 0 auto;
			text-align: center;
		}
		
/*RowFilter*/
#divSelectorRowsFilter {
    min-width: 1750px;
    height: 300px;
    border: black 1px solid;

}

#selectorRowsContainer {
    min-width: 1500px;
    min-height: 400px;
}

.hidden {
    display: none;
}

.objectInSelect {
    background-color: rgba(255, 153, 0, 0.87);
}

#imageIsAnObject {
    display: block;
    /* height:400; */
    position: absolute;
    /* left:20; */
}



#divSelectorRowsFilter {
    margin-top: 20px;
    height: fit-content;
    min-width: 800px;
    border: black 1px solid;
}

#divResult {
    margin-top: 20px;
    width: 55%;
    height: 300px;
    float: left;
    border: black 1px solid;
}


/* Row Filter */

#fullFilterDiv {
    height: 200px;
    border: black 1px solid;
    width: 100%;
    margin-top: 20px;
}

#fullFilterDiv {
    min-height: 100px;
    border: black 1px solid;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.filterGroup {
    min-height: 100px;
    border: black 1px solid;
    width: 100%;
    margin-top: 20px;
}

.filterConditionDiv {
    height: 30px;

    width: 85%;
    border: black 1px solid;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;

}

.filterConditionGroup {
    height: auto;
    border: black 1px solid;
    width: 70%;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
}

.divCondition {
    height: 50px;
    border: black 1px solid;
    width: 15%;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
}

.divLineaCondition {
    width: 10px;
    height: 50px;
    border-left: black 5px solid;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}


.buttonAddCondition {
    margin-left: 30px;
    display: block;

}

.buttonAddFilterGroup {
    margin-left: 30px;
    display: block;
}


.tdBoxName {
    position: relative;

}

.buttonsInFilterRow {
    display: inline-block;
    margin-left: 5px;
}

.optionsRow {
    display: inline-block;
}

 .trLineBoxName td { /*Line with selects and buttons */
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

.trBoxName  {
    border-radius: 20px;
    border: 1px solid #34383aef;
    padding: 15px;
}

.topButtonsFilterRow {
    height: 30px;
}

.tdSelectAndOrNot {
    height: 30px;
}

.topPartSelectAndOrNot {
    height: 30px;

}

.bottomPartSelectAndOrNot {
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.tableInAddColumns td, .tableInAddColumns th {
    border: 1px solid #34383aef;
    text-align: center;
}
